* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: rgb(251, 243, 232);
}

button {
    width: 300px;
}

#displaylist {
    list-style: none;
    cursor: pointer;
}

.list-item {
    border: 2px solid rgb(253, 133, 59);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;

}

.selected {
    background-color: lightskyblue;
}